<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil Mobil'Avenue Revendeur</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <img src="../assets/logoMobilAvenue.png" alt="Exemple Logo Mobil'Avenue">
            <a href="#" class="headerTitle">Mobil'Avenue Revendeur</a>
        </div>
    </header>
    <div class="loginContainer">
        <div class="loginLines">
            <div class="loginInput" *ngIf="!(authenticationService.userData | async)">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input #email type="text" class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input #password type="password" class="form-control" id="pwd" placeholder="password">
                </div>
                <button (click)="authenticationService.SignUp(email.value, password.value)" class="btn btn-default">Sign Up</button>
                <button (click)="authenticationService.SignIn(email.value, password.value)" class="btn btn-default" style="margin-left:5px;">Login</button>
                    
            </div>
        </div>
      </div>
</body>
</html>