/* All pages  */

body{
    font-family: 'Ubuntu',Tahoma,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    margin: 0;
}
header{
    width: 100%;
    color: #ffffff;
    background-color: #cd071e;
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    margin-top: 100px;
}
.headerContainer{
    
    display: flex;
    flex-direction: row;
}
header img{
    max-height: 40px;
}
.headerTitle{
    align-self: center;
    display: block;
    padding: 8px 20px 12px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff;
}
a{
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
}
/* Register shops datas and display them */

div.array{
    width: 100%;
    display: block;
    position: initial;
}
.timeCheckboxTotal{
    margin-left: 41%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.timeCheckboxTotal p{
    font-weight: bold;
    font-size: 17px;
}
.timeCheckboxTotal input{
}
.enterShop{
    border-radius: 15px;
    color: white;
    background-color: #cd071e;
    margin-left: 37%;
    margin-right: 37%;
}
.inputs{
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    text-align: center;
}
.inputs.space{
    margin-top: 20px;
}
.inputs.space.top{
    padding-top: 20px;
}
input{
    margin-left: 15px;
}
#nameInput, #adressInput, #zipCodeInput, #cityInput, #cellPhoneInput, #landPhoneInput, #emailInput, #activityInput, 
#loyaltyProgramInput, #idShopInput, #websiteInput, #facebookInput, #instaInput, #pinterestInput, #snapchatInput{
    
}
#descriptionInput{
    margin-left: 15px;
    height: 80px;
    text-align: start;
    overflow-wrap: break-word;
}
#beginMorningTimeInput, #endMorningTimeInput, #beginAfternoonTimeInput, #endAfternoonTimeInput{
    width: 30%;
}
#idShopInput{
    margin-bottom: 20px;
}

/* Login */

.loginContainer{
    color: white;
    background-color: #cd071e;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 150px;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 15px ;
}
.loginLines, .form-group{
    display: flex;
    flex-direction: column;

}
.form-group label, .loginInput{
    align-content: center;
    text-align: center;
}
.form-group label{
    margin-top: 10px;
}
.loginInput button{
    margin-top: 30px;
}
.loginInput{
    border-radius: 15px;
}

/* Responsive Tablet */
@media screen and (min-width: 640px) and (max-width: 1200px){
    .loginContainer{
        margin-top: 150px;
        display: block;
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .enterShop{
        border-radius: 15px;
        color: white;
        background-color: #cd071e;
        margin-left: 30%;
        margin-right: 30%;
    }
}

/* Responsive Cellphone */
@media screen and (max-width: 640px){
    .loginContainer{
        margin-top: 150px;
        display: block;
        margin-left: 20%;
        margin-right: 20%;
    }
    .enterShop{
        border-radius: 15px;
        color: white;
        background-color: #cd071e;
        margin-left: 15%;
        margin-right: 15%;
    }
}