<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <div class="array">
        <h1>Enregistrement de l'entreprise</h1>
        <form class="enterShop">

            <div class="inputs space top">
                <label for="nameInput">Nom commercial de l'entreprise ( 25 caractères max ) :</label>
                <input id="nameInput" type="text" placeholder="nom de l'entreprise..." width="150px" maxlength="25" required>
            </div>
            <div class="inputs space">
                <label for="descriptionInput">Description de l'entreprise ( 300 caractères max ) :</label>
                <textarea id="descriptionInput" placeholder="description de l'entreprise..." maxlength="300"></textarea>
            </div>

            <div class="timeInputs" *ngFor="let day of authenticationService.days" >
                <label class="timeCheckboxTotal" for="timeCheckbox">
                    <p>{{ day.day }}</p>
                    <input #timeCheckBoxValidate id="timeCheckbox" type="checkbox" width="150px" (change)="timeCheckBoxValidate">
                </label>
                <div class="inputs" *ngIf="timeCheckBoxValidate.checked">
                    <label for="beginMorningTimeInput" for="endMorningTimeInput">Entrer vos horaires du matin ici :</label>
                    <div class="flexTime">
                        <input id="beginMorningTimeInput" type="time" width="150px">
                        <input id="endMorningTimeInput" type="time" width="150px">
                    </div>
                </div>
                <div class="inputs" *ngIf="timeCheckBoxValidate.checked">
                    <label for="beginAfternoonTimeInput" for="endAfternoonTimeInput">Entrer vos horaires de l'après-midi ici :</label>
                    <div class="flexTime">
                        <input id="beginAfternoonTimeInput" type="time" width="150px">
                        <input id="endAfternoonTimeInput" type="time" width="150px">
                    </div>
                </div>
            </div>

            <div class="inputs space">
                <label for="activityInput">Cliquez pour afficher la liste d'activités :</label>
                <input id="activityInput" type="button" placeholder="cliquez pour afficher la liste" required>
            </div>
            
            <div class="inputs space">
                <label for="adressInput">Adresse ( 40 caractères max ) :</label>
                <input id="adressInput" type="text" placeholder="votre adresse..." width="150px" maxlength="40" required>
            </div>
            <div class="inputs space">
                <label for="zipCodeInput">Code postal ( 5 caractères max ) :</label>
                <input id="zipCodeInput" type="text" placeholder="votre code postal..." width="100px" maxlength="5" required>
            </div>
            <div class="inputs space">
                <label for="cityInput">Ville ( 20 caractères max ) :</label>
                <input id="cityInput" type="text" placeholder="votre ville..." width="150px" maxlength="20" required>
            </div>
            <div class="inputs space">
                <label for="cellPhoneInput">Téléphone portable :</label>
                <input id="cellPhoneInput" type="tel" placeholder="votre téléphone portable...">
            </div>
            <div class="inputs space">
                <label for="landPhoneInput">Téléphone fixe :</label>
                <input id="landPhoneInput" type="text" placeholder="votre téléphone fixe..." width="150px">
            </div>
            <div class="inputs space">
                <label for="emailInput">Email ( 25 caractères max ):</label>
                <input id="emailInput" type="email" placeholder="votre email ici..." width="150px" maxlength="25" required>
            </div>
            <div class="inputs space">
                <label for="websiteInput">Adresse du site web :</label>
                <input id="websiteInput" type="url" placeholder="adresse de votre site ici...">
            </div>
            <div class="inputs space">
                <label for="facebookInput">Adresse Facebook :</label>
                <input id="facebookInput" type="url" placeholder="adresse du site Facebook...">
            </div>
            <div class="inputs space">
                <label for="instaInput">Adresse Instagram :</label>
                <input id="instaInput" type="url" placeholder="adresse du site Instagram...">
            </div>
            <div class="inputs space">
                <label for="pinterestInput">Adresse Pinterest</label>
                <input id="pinterestInput" type="url" placeholder="adresse du site Pinterest...">
            </div>
            <div class="inputs space">
                <label for="snapchatInput">Adresse Snapchat</label>
                <input id="snapchatInput" type="url" placeholder="adresse du site Snapchat...">
            </div>
            <div class="inputs space">
                <label for="loyaltyProgramInput">Programme de fidélité : </label>
                <input id="loyaltyProgramInput" type="text" placeholder="programme de fidélité..." width="150px" maxlength="25">
            </div>
            <div class="inputs space">
                <label for="idShopInput">Identifiant de l'entreprise :</label>
                <input id="idShopInput" type="text" placeholder="id du commerce..." width="150px" maxlength="25" required>
            </div>
        </form>
    </div>
</body>
</html>